<div class="custom-container-bar">
  <div class="containe-bar">
    <img src="assets/img/logo.jpg" alt="Logo" class="logo inline-element" />
    <button
      mat-icon-button
      class="inline-element theme-background custom-button"
      style="margin: 16px"
      (click)="toggleSidenav()">
      <mat-icon class="large-icon">menu</mat-icon>
    </button>
  </div>

  <mat-list>
    <mat-list-item style="height: 9vh; width: 100%" [routerLink]="['./s001/s001']">
      <p  class="menu" style="padding-bottom: 40px; padding-top: 40px">ホーム</p>
    </mat-list-item>
    <!-- 可以在这里添加更多的菜单项 -->
    <p class="title">業務アプリ</p>
    <mat-list-item style="height: 7vh" [routerLink]="['./s002/s002']">
      <p class="menu">見積処理</p>
    </mat-list-item>
    <mat-list-item style="height: 7vh" [routerLink]="['./s006/s006']">
      <p  class="menu">請求処理</p>
    </mat-list-item>
    <p class="title">設定</p>
    <mat-list-item style="height: 7vh" [routerLink]="['./s011/s011']">
      <p  class="menu">基本設定</p>
    </mat-list-item>
    <mat-list-item
      style="height: 7vh; font-size: 30"
      [routerLink]="['./s010/s010']"
    >
      <p  class="menu">取引先管理</p>
    </mat-list-item>
    <mat-list-item
      style="height: 7vh; font-size: 30"
      [routerLink]="['./s012/s012']"
    >
      <p  class="menu">ユーザ管理</p>
    </mat-list-item>
  </mat-list>
<div>

<hr style="margin-left:5px;margin-right: 5px;">
<table>
<tr>
  <td rowspan="2"><img src="assets/img/p.jpg" alt="Logo" class="logo inline-element" />
  </td>
  <td><span>ユーザ　大郎</span>
   
  </td>
</tr>
<tr>
  <td >aaaaa.com</td>

</tr>
<tr>
  <td colspan="2">

    <div class="rounded-rectangle">
      管理者
    </div>
  </td>

</tr>
</table>
</div>


</div>
