<mat-card class="signin-card">
  <img src="assets/img/logo.jpg" alt="Logo" class="logo" />
  <mat-card-title class="title">サインイン</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-field-container">
        <mat-form-field>
          <mat-label>メールアドレス</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            class="white-background"/>
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')"
            >メールアドレス：必須です</mat-error
          >
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')"
            >メールアドレス：メールアドレスを入力してください</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form-field-container">
        <mat-form-field>
          <mat-label>パスワード</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            class="white-background"
          />
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
            >パスワード：必須です</mat-error
          >
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')"
            >パスワード：６桁です</mat-error
          >
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        class="mat-raised-button"
        style="
          height: 40px !important;
          margin: 10px !important;
          line-height: 18px !important;
        "
        color="primary">
        サインイン
      </button>
    </form>
  </mat-card-content>
</mat-card>
