.element-row {
    cursor: pointer;
  }
  
  .child-row {
    background-color: #f5f5f5;
  }
  
  .mat-row:hover {
    background-color: rgba(0,0,0,.04);
  }
  
  .expanded {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .child-content {
    padding-left: 40px;
  }
  