.background {
    justify-content: center; /* 使元素在容器中间 */
    align-items: center;
    background-color: #abb9e0;
    width: 100%;
    height: 100%;
    gap: 20px; /* 设置元素之间的间距 */
    overflow: hidden;

  }
  
.login-section, .register-section {

    text-align: center;
    margin: 10 10 10 10;

    
  }

.mat-input-element {
    background-color: white;

  }
  
  .mat-raised-button {
    border-radius: 5%; /* 调整为你需要的圆角大小 */
  }
  