<div class="file-upload-container">
    <div class="file-upload-box" [class.dragging]="isDragging" (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
        <p>見積書をここにドロップ</p>
        <button mat-raised-button color="primary" (click)="fileInput.click()">ファイル追加</button>
        <input #fileInput type="file" (change)="onFilesAdded($event)" hidden multiple>

        <div class="uploaded-files" *ngIf="files.length">
            <div *ngFor="let file of files; let i = index" class="file-item">
                {{ file.name }}
                <button mat-icon-button color="warn" (click)="removeFile(i)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
<div fxLayout="row" class="file-size-text">※ファイルサイスの20MB</div>