.example-container {
  display: flex;
  height: 100%;
}

.custom-header {
  background-color: #abb9e0;; /* 修改为你想要的颜色，例如黄色 */
  border-radius: 15px 15px 0 0; /* 设置上方圆角 */
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 设置阴影效果 */
  display: flex; /* 使用flex布局 */
  align-items: center; /* 垂直居中对齐 */
}

.content-wrapper {
  border-radius: 0 0 15px 15px; /* 设置下方圆角 */
  padding: 0px;
  margin-top: -20px; /* 通过负margin去除空隙 */
  flex-grow: 1; /* 使其占据剩余空间 */
  height: 100%;
}

.custom-header h1 {
  margin: 0;
  font-size: 24px;
}
.title1 {
  padding-left: -10px !important;
}
.title2 {
  padding-left: 10px !important;
}
.custom-header button {
  display: flex;
  align-items: center; /* 确保按钮中的内容垂直居中 */
  justify-content: center; /* 确保按钮中的内容水平居中 */
}
