.actions-section {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  width: 100%
}

.action-card {
  flex: 1;
  border-radius: 15px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}