<mat-card>
  <mat-card-content>
    <p class="time-title">2024年10月</p>
    <div class="card-container" style="height:40vh;">
      <!--データtable-->
      <div class="table-card-container">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="company">
            <th mat-header-cell *matHeaderCellDef> 会社名 </th>
            <td mat-cell *matCellDef="let element"> {{ element.company }} </td>
          </ng-container>

          <ng-container matColumnDef="estimate">
            <th mat-header-cell *matHeaderCellDef> 見積総額 </th>
            <td mat-cell *matCellDef="let element"> ¥{{ element.estimate}} </td>
          </ng-container>

          <ng-container matColumnDef="invoice">
            <th mat-header-cell *matHeaderCellDef> 請求総額 </th>
            <td mat-cell *matCellDef="let element"> {{ element.invoice || '未請求' }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="onRowDoubleClick()"></tr>
        </table>
      </div>

      <!--検索条件-->
      <div class="filter-card-container">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>対象年份</mat-label>
          <mat-select>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>対象月份</mat-label>
          <mat-select>
            <mat-option></mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" style="width: 100%">
          <mat-icon>search</mat-icon>
          検索
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div fxLayout="row">
  <div class="actions-section">
    <mat-card class="action-card">
      <mat-card-header class="rounded-header">
        <mat-card-title style="font-weight: normal !important;">見積処理</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>案件マスタから情報の抽出を行い、見積書を自動作成します。</p>
        <small>*実績確定後に実行するようにしてください。</small>
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="processEstimates()">見積処理へ</button>
          <button mat-raised-button color="primary" (click)="saveTemp()">一時保存</button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="action-card">
      <mat-card-header class="rounded-header">
        <mat-card-title style="font-weight: normal !important;">請求処理</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>見積情報から請求書を発行します。</p>
        <small>*実績確定後に実行するようにしてください。</small>
        <div class="button-container">
          <button mat-raised-button color="primary" (click)="processInvoices()">請求処理へ</button>
          <button mat-raised-button color="primary" (click)="saveTemp()">一時保存</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>